* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
h1 {
  /* font-size: 2.5em; */
  /* font-size: 36px; */
  font-weight: bold;
}

.foto img {
  border-radius: 50%;
  max-width: 80%;
  height: auto;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 700px;
}

.tombol {
  background-color: slategrey;
  border-color: black;
  width: 100%;
}

@media (max-width: 768px) {
  .konten {
    /* display: block; */
    flex-direction: column;
    align-items: center;
  }
  .inputan {
    width: 100%;
    margin: 0% !important;
  }
  .head {
    background-color: #ffffff;
  }
  h1 {
    font-size: 1.5em;
    padding-top: 5px;
    text-align: center;
  }
  .foto img {
    /* display: none; */
    border-radius: 50%;
    max-width: 120%;
    height: auto;
  }
}
